<div class="box">
<div class="col span_2_of_4">
<app-author-list *ngFor="let item of favoriteAuthorList ; let i=index" 
[author]="item" (authorEmmit)="authorEmmit($event)"></app-author-list></div>
<div class="col2 span_2_of_4">
<app-author-list *ngFor="let item of author ; let i=index" 
    [author]="item" (authorEmmit)="authorEmmit($event)"></app-author-list>
    <mat-paginator [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[3, 5, 25, 100]"
              (page)="onPageChange($event)"
             >
</mat-paginator>
    </div>
</div>
<router-outlet></router-outlet>